
{{! This is the post loop - each post will be output using this markup }}


{{#foreach posts}}
{{^has tag="unlooped"}}

<article class="loop-photo // {{ post_class }} // txt-c / lg-float-l / lg-fifty / pad-h2 / mar-b2">

    <a 
        class="loop-photo__title-link // disp-b / back-cover / back-center / img"
        href="{{url}}"
        style="background-image: url( {{image}} );">

        <div class="loop-photo__overlay"></div>

        <h3 class="loop-photo__title // txt-h-open / txt+2 / txt-thin / pad-h2 / mar0">
            {{{title}}}
        </h3>

    </a>

    <time 
        class="loop-post__date // hidden" 
        datetime="{{ date format='YYYY-MM-DD' }}">

        {{ date format="Do MMMM YYYY" }}

    </time>

</article>


{{/has}}
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
