
{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
{{#has tag="unlooped"}}
{{else}}
<article class="blog-post // {{ post_class }}">

    <header class="blog-post__header">

        <h3 class="blog-post__title // heading / txt-thin / no-margin">

            <a class="blog-post__title-link" href="{{url}}" tabindex="2" {{#if featured}} title="Featured Post!" {{/if}}>

                {{{title}}}

                {{#if featured}}
                    <em class="hidden">this is a featured Article.</em>
                {{/if}}

            </a>

        </h3>

        <time 
            class="blog-post__date // txt-code / txt-light / cursor-normal" 
            datetime="{{ date format='YYYY-MM-DD' }}"
            title="~ {{ date format='h:mm a' }}">

            {{ date format="Do MMMM YYYY" }}

        </time>

        {{#if featured}}
            <div class="blog-post__stars">

                <span class="blog-post__star" title="Featured Post!" role="presentation">
                    {{> svgicon iconname="star-outline"}}
                </span>

                <span class="blog-post__star blog-post__star--filled" title="Featured Post!" role="presentation">
                    {{> svgicon iconname="star"}}
                </span>

            </div>
        {{/if}}

    </header>
    
    <div class="blog-post__content // hidden">

        {{excerpt words="18"}}

    </div>

    <footer class="blog-post__footer // hidden">
        {{#author}}
        Written by <a href="{{url}}" tabindex="-1">{{name}}</a>, {{tags prefix="tagged: "}}
        {{/author}}
    </footer>

</article>


{{/has}}
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
