{{!< default}}

{{#author}}

    {{#if cover}}

        <img src="{{cover}}" alt="{{name}}'s cover photo">

    {{/if}}

    <section class="profile // clear">

        {{#if image}}
            <figure class="profile-image // float-l / one-third">
                <img class="img" src="{{image}}" alt="{{name}}'s profile photo">
                <span class="hidden">{{name}}'s Picture</span>
            </figure>
        {{/if}}

        <div class="profile-info // float-l {{#if image}}/ padding-l2 / two-thirds{{/if}}">

            <h2 class="profile-name // txt-thin / clr-simey">
                Simon Goellner
            </h2>

        </div>

    </section>

{{/author}}

{{! The main content area on the homepage }}
<main class="lg-txt+2 sm-txt+1 / txt-light / lh+1" role="main">

    <hr class="hr--line">

    <h3 class="lg-txt+3 sm-txt+2 / txt-book">I'm just a dude who enjoys making the web better.</h3>

    <p>
        <strong>But seriously</strong>; 
        I'm a frontend developer. I love users' experience.
    </p>

    <p>
        I stay up freakin&lsquo; late, 
        get <strong class="txt-bold">crazy about user interactions</strong>, 
        and <strong class="txt-bold">learn new shit every day</strong>.
    </p>

    <p>
        I maintain a few <a href="https://github.com/simeydotme" class="txt-bold">Github repositories</a>, 
        bounce around <a href="https://twitter.com/simeydotme" class="txt-bold">on Twitter</a>, 
        prototype cool frontend <a href="https://codepen.io/simeydotme" class="txt-bold">stuff on Codepen</a> 
        and enjoy Rock Climbing.
    </p>

    <h4>&ldquo;Simey&rdquo; is a nickname.</h4>

</main>
