<!DOCTYPE html>
<html>

    <head>

        {{! Document Settings }}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {{! Page Meta }}
        <title>{{ meta_title }}</title>
        <meta name="description" content="{{ meta_description }}">
        <meta name="theme-color" content="#1f222d">

        <meta name="HandheldFriendly" content="True">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="apple-touch-icon" href="{{ asset "dist/apple-touch-icon.png" }}">
        <link rel="shortcut icon" href="{{ asset "dist/favicon.png" }}">

        {{! Styles'n'Scripts }}
        <link rel="stylesheet" type="text/css" href="{{ asset "dist/css/simey.css" }}">
        <script src="{{ asset "dist/js/vendor/modernizr.js" }}"></script>
        {{> fonts }}

        {{! Ghost outputs important style and meta data with this tag }}
        {{ ghost_head }}

    </head>

    <body class="{{ body_class }} {{#if code}} / error-page {{ /if }} // txt-sans / txt-book">




        {{> header }}

        <div class="content // over-h / pad-v4">
            <div class="wrap">

                {{! Everything else gets inserted here }}
                {{{body}}}
            
            </div>
        </div>

        {{> footer }}




        {{! Ghost outputs important scripts and data with this tag }}
        {{ghost_foot}}

        {{! The main JavaScript file for Template }}
        <script type="text/javascript" src="{{asset "dist/js/vendor/vendor.js"}}"></script>
        <script type="text/javascript" src="{{asset "dist/js/combined.js"}}"></script>

        {{>analytics}}

    </body>

</html>
