{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! Everything inside the #post tags pulls data from the post }}
{{#post}}

{{#if image}}{{/if}}


<main class="content / wrap" role="main">

    <article class="blog-post // {{post_class}} / txt-light">

        <header class="blog-post__header / txt-c">

            <h1 class="blog-post__title // heading / lg-biggest / sm-small / txt-thin / clr-simey">
                {{title}}
            </h1>

            <section class="blog-post__meta // txt-code">

                <time 
                    class="blog-post__date // disp-b" 
                    datetime="{{ date format='YYYY-MM-DD' }}">

                        {{ date format="Do MMMM YYYY" }}

                </time> 

                <span class="blog-post__tags // txt-lower">{{tags prefix="[ " separator=", " suffix=" ]"}}</span>
            
            </section>

        </header>




        <section class="blog-post__content">

            {{content}}

        </section>

        
        <hr class="hr / end">

        <footer class="blog-post__footer">

        {{! Everything inside the #author tags pulls data from the author }}
        {{#author}}

            {{#if bio}}
                
            {{else}}
                
            {{/if}}

            {{#if image}}
            
            {{/if}}

            <section class="authored-by / authored-by--blog-post // lg-float-l">

                <h5 class="authored-by__author // heading / smallest / txt-bold / no-margin">
                    Written by <a href="{{url}}">{{name}}</a> {{#if location}}in {{location}}{{/if}}</h4>

            </section>

        {{/author}}

            <section class="share // lg-float-r / lg-txt-r">
                <a class="icon-twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                    <span class="">{{> svgicon iconname="twitter"}} Tweet this shit!</span>
                </a>
            </section>

        </footer>

    </article>
</main>

{{/post}}
